[Unit]
Description=Populate /etc and overlay /usr
# After=initrd-fs.target
After=sysroot-usr.mount
Before=dracut-mount.service
DefaultDependencies=no
AssertPathExists=/etc/initrd-release

[Service]
Type=oneshot
ExecStart=/usr/local/bin/finish-root.sh
RemainAfterExit=yes

[Install]
WantedBy=initrd.target