[Unit]
Description=Make /usr rw
After=initrd-fs.target
After=usr.mount
DefaultDependencies=no
AssertPathExists=/etc/initrd-release

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-overlay-usr.sh
RemainAfterExit=yes

[Install]
WantedBy=initrd-fs.target